.env
.env.*
node_modules/
*.log
solana-*devnet.json
solana-deployer.json
solana-delegate.json
solana-mint.json
dist/
nginx/certbot/
*.bak
*.swp
nginx/certbot/
*.bak
*.swp
backend/storage/kyc-docs/
backend/prisma/migrations_broken_backup/
